rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Student & Citizen ID Card Records
    match /records/{recordId} {
      allow read, write: if true;
    }
  }
}
